<h3>Basic Buttons</h3>
<button type="button" mdbBtn color="primary" mdbWavesEffect>Primary</button>
<button type="button" mdbBtn color="secondary" mdbWavesEffect>Secondary</button>
<button type="button" mdbBtn color="success" mdbWavesEffect>Success</button>
<button type="button" mdbBtn color="danger" mdbWavesEffect>Danger</button>
<button type="button" mdbBtn color="warning" mdbWavesEffect>Warning</button>
<button type="button" mdbBtn color="info" mdbWavesEffect>Info</button>
<button type="button" mdbBtn color="light" mdbWavesEffect>Light</button>
<button type="button" mdbBtn color="dark" mdbWavesEffect>Dark</button>
<button type="button" mdbBtn color="link">Link</button>

<h3> Additional buttons </h3>
<button mdbBtn type="button" color="elegant" mdbWavesEffect>Elegant</button>
<button mdbBtn type="button" color="unique" mdbWavesEffect>Unique</button>
<button mdbBtn type="button" color="pink" mdbWavesEffect>Pink</button>
<button mdbBtn type="button" color="purple" mdbWavesEffect>Purple</button>
<button mdbBtn type="button" color="deep-purple" mdbWavesEffect>Deep-Purple</button>
<button mdbBtn type="button" color="indigo" mdbWavesEffect>Indigo</button>
<button mdbBtn type="button" color="light-blue" mdbWavesEffect>Light-blue</button>
<button mdbBtn type="button" color="cyan" mdbWavesEffect>Cyan</button>
<button mdbBtn type="button" color="dark-green" mdbWavesEffect>Dark-Green</button>
<button mdbBtn type="button" color="light-green" mdbWavesEffect>Light-green</button>
<button mdbBtn type="button" color="yellow" mdbWavesEffect>Yellow</button>
<button mdbBtn type="button" color="amber" mdbWavesEffect>Amber</button>
<button mdbBtn type="button" color="deep-orange" mdbWavesEffect>Deep-Orange</button>
<button mdbBtn type="button" color="brown" mdbWavesEffect>Brown</button>
<button mdbBtn type="button" color="blue-grey" mdbWavesEffect>Blue-Grey</button>
<button mdbBtn type="button" color="mdb-color" mdbWavesEffect>MDB</button>

<h3> Outline Button </h3>
<button mdbBtn type="button" color="primary" outline="true" mdbWavesEffect>Primary</button>
<button mdbBtn type="button" color="default" outline="true" mdbWavesEffect>Default</button>
<button mdbBtn type="button" color="secondary" outline="true" mdbWavesEffect>Secondary</button>
<button mdbBtn type="button" color="success" outline="true" mdbWavesEffect>Success</button>
<button mdbBtn type="button" color="info" outline="true" mdbWavesEffect>Info</button>
<button mdbBtn type="button" color="warning" outline="true" mdbWavesEffect>Warning</button>
<button mdbBtn type="button" color="danger" outline="true" mdbWavesEffect>Danger</button>

<h3> Buttons with icons </h3>
<button mdbBtn type="button" color="primary" mdbWavesEffect>
    <mdb-icon fas icon="magic" class="mr-1"></mdb-icon>Left
  </button>
  <button mdbBtn type="button" color="default" mdbWavesEffect>Right<mdb-icon fas icon="magic" class="ml-1"></mdb-icon></button>
